*{
    margin:0%;
    padding:0%;
    font-family: 'Roboto', sans-serif;
}
#workSec{
    display: block;
}
body{
    background-color: #eee;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding:17px ;
    box-shadow: 0px 2px 2px 2px rgb(181, 179, 179);
}
nav.logo{
    margin-left:22px;
    font-size:24px;
}
ul{
    margin-right: 45px;
    margin-top: 7px;
}
nav ul li{
    list-style: none;
}
ul li a{
    margin-inline:22px;
    font-size: 20px;

}
ul li #home{
    color: burlywood;
}
ul li a:hover{
    border-bottom: 2px solid burlywood;
}
ul li i:hover{
    color: burlywood;
    cursor: pointer;
}
.main{
    display: flex;
    justify-content: space-around;
}
.main .mainText{
    margin-top: 144px;
    font-size: 34px;
}
.mainText h1{
    font-size: 64px;
}.mainText.top{
    color: burlywood
}
.mainText button{

    width: 145px;
    height: 40px;
    background-color: burlywood;
    border: none;
    font-size: 22px;
    color: white;

}
.mainText button:hover{
    border: 2px solid burlywood;
    background-color: transparent;
    color: black;
    margin-top: 24px;

}
.work .head{
    text-align: center;
    padding: 33px;
    margin-top: 22px;

}
.head span{
    color: burlywood;

}

.work-container{
    display: flex;
    justify-content: center;
}

.work{
    display: inline;
}

.card{
    display: flex;
   
}

.head .crd{
    width:300px;
    height:500px;
    background-color: white;
    margin-inline: 11px;
    padding: 22px;
}
.crd img{
    width: 300px;
    height: 500px;
    border-radius:20px;
}
.crd text{
    font-size: 1000px;
    color: bisque;

}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding:7px ;
    box-shadow: 0px 2px 2px 2px rgb(181, 179, 179);
    margin-top: 20px;
}
.footer .footerText{
    margin-inline: 72px;
}
.footerText p{
    margin-top: 22px;
}
.blog{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100px;
    background-color: white;
    margin-inline: 22px;
    padding: 22px;
    border-radius: 50px;
   

}

.blogText{
    padding: 2px;
    margin-top: 10px;
}
.blogText a{
    width: 12px;   
    height: 8px;
    padding: 2px;
    background-color: burlywood;
    color:white;
    font-size: 18px;
    border-radius: 5px;
    margin-top:2px;
    position:relative;
    top:3px;
}
.blog img{
    width: 85%;
    padding: 12px;
}
 .about{
    display: none;
} 
.aboutUs{
    background-color: brown;
    color: white;
    padding: 55px;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.me{
    display: flex;
    justify-content: center;
    width: 700px;
    background-color: #fff;
    padding: 40px;
    margin-left:20%;
}
.me img{
    width: 34%;
}
.me aboutText{
    padding: 25px;
    margin-left: 10%;
   
}
